.DS_Store
.classpath
.gradle
.idea
.project
.settings
*.iml
*.ipr
*.iws

/bin
/build
/buildSrc/build
/classes
/lib
/log
/out
/target

/swapi-labs-*/bin
/swapi-labs-*/build
/swapi-labs-*/buildSrc/build
/swapi-labs-*/classes
/swapi-labs-*/lib
/swapi-labs-*/log
/swapi-labs-*/out
/swapi-labs-*/target
